//# units
// ----------------------------------------------
// This recipe defines named app sizing 

  //## Pallet Color Type Settings
  $cm-unit:  64px !default;     // Used for position and sizing of layout regions and containers 
  $cm-subunit:   8px !default;  // Used for padding, margins, position and sizing of elements within containers
  $cm-microunit:  2px !default; // Used for padding, margins, position and sizing of text and icons within elements